@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Prata&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,800;0,900;1,600&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
  scroll-behavior: smooth;
  color: #333333;
  color: black;

  @media (max-width: 1024px) {
    font-size: 51.5%;
  }

  @media (max-width: 480px) {
    font-size: 53.5%;
  }
}

body {
  @media (min-width: 768px) {
    background-size: contain;
    background-position-y: 4rem;
    background-position-x: -2rem;
  }
}

section {
  position: relative;
  padding: 0;
  margin: 3rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    margin: 0 10rem;
  }

  @media (max-width: 768px) {
    margin: 0 7rem;
  }

  @media (max-width: 600px) {
    margin: 0 3rem;
  }
}

video {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

form {
  width: 100%;
}
