.cult {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 2rem;
  top: 10rem;
  background-color: whitesmoke;
  margin-bottom: 10rem;
  border-radius: 0.5rem;

  @media (max-width: 480px) {
    flex-direction: column;
    width: 100%;
  }
}
.cult-title {
  font-size: 4rem;
}
.cult-access {
  font-size: 14px;
  font-weight: 500;
}

#mc_embed_signup {
  //   background-color: white;
}
.mc-field-group {
  width: 100%;
}

.email {
  position: relative;
  display: block;
  width: 100%;
  border: #d3d3d3 solid 0.1rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.6rem;
  margin: 1rem 0rem;

  @media (max-width: 480px) {
    height: 5rem;
  }
}

.button {
  width: 100%;
  position: relative;
  display: block;
  background-color: rgb(235, 5, 5);
  padding: 1.5rem;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;

  //   @media (max-width: 480px) {
  //     padding: rem;
  //   }
}

.button:hover {
  background-color: rgb(238, 49, 49);
}

.email-label {
  font-size: 1.6rem;
  font-weight: 500;
}

.asterisk {
  color: red;
}
.sub-para {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}

.disclaimer,
.indicates-required {
  position: relative;
  display: block;
  color: gray;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
}
