.landing {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bckg.svg);
  background-position: center;
  background-size: cover;
  background-color: floralwhite;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    height: fit-content;
  }

  &__img {
    height: 50rem;
    object-fit: contain;
    object-position: center;
    margin-right: 2rem;
    @media (max-width: 768px) {
      margin-right: 0rem;
      padding-top: 8rem;
    }

    @media (max-width: 375px) {
      height: 40rem;
    }
  }

  &__title {
    font-size: 4rem;
    font-family: 'Prata', serif;
    font-weight: 900;
  }

  &__content {
    width: 40%;
    font-weight: 400;
    margin: 1rem 0;

    @media (max-width: 1024px) {
      margin-bottom: 0;
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 80%;
      margin: 0 2rem;
      text-align: center;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &__info {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }

  &__price {
    font-size: 3rem;
    margin: 1.5rem 0;
  }

  &__pre-order {
    background-color: rgba(255, 166, 0, 0.158);
    padding: 0.5rem;
    color: orange;
    margin: 1rem 0;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    margin-right: 3rem;
  }
  &__tag {
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #e3a8aa;
  }
}

.pay-p {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 480px) {
    justify-content: center;
  }
}

// em {
//   margin: 1rem 0;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 300;
//   font-size: 1.2rem;
// }

.left-col,
.right-col {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0rem 2rem;
  }
}

.book-info {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 100;
  @media (max-width: 768px) {
    // padding-top: 2rem;
    // border-top: rgb(212, 212, 212) solid 0.01rem;
  }
}
// .landing-img {
//   // width: 50%;
//   // height: 55vh;
//   position: relative;
//   background-image: url(../img/book-img.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;

//   @media (max-width: 1024px) {
//     height: 45vh;
//   }

//   @media (max-width: 768px) {
//     height: 60vh;
//     width: 100%;
//   }

//   @media (max-width: 480px) {
//     background-size: contain;
//     height: 35vh;
//   }
// }

.landing-info {
  text-align: left;

  @media (max-width: 768px) {
    margin-top: 5rem;
  }
}

.landing-content h3 {
  margin: 2rem 0;
}

.paypal-btn {
  z-index: 1;
  margin: 2rem 0;
}

.socials1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 56, 56);
  position: fixed;
  top: 15rem;
  z-index: 5;
  right: 0;
}

.subscribe-section {
  margin: 5rem 15rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 5rem;
  height: 5rem;
  background-color: rgb(49, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  border-bottom: 0.01rem solid white;
  transition: 0.4s ease;
  z-index: 99;
  color: white;
}

.icon:hover {
  background-color: rgb(74, 85, 85);
}

.quote {
  position: relative;
  display: block;
  font-family: 'Prata', serif;
  font-weight: 900;
  padding: 3rem;
  margin-top: 3rem;
  background-color: whitesmoke;
  font-size: 3rem;

  @media (max-width: 600px) {
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.main-area {
  display: flex;
  padding: 4rem 15rem;
  justify-content: space-around;

  @media (max-width: 1024px) {
    padding: 4rem 8rem;
  }

  @media (max-width: 900px) {
    padding: 4rem 2rem;
  }

  @media (max-width: 768px) {
    padding: 4rem;
    position: relative;
    margin-bottom: 3rem;
    border-top: rgb(212, 212, 212) solid 0.01rem;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}

.illust {
  width: 100%;
  height: 55vh;
  margin-bottom: 10rem;
  position: relative;
  display: block;
  background-image: url(../img/ill.jpg);
  background-position-y: -20rem;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    height: 40vh;
    background-position-y: -13rem;
  }

  @media (max-width: 768px) {
    height: 43vh;
    background-position-y: 0rem;
  }
}

.affi-con {
  margin: 0 20rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    margin: 1.5rem 3rem;
  }
}

.affi-box {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.affi-img-1,
.affi-img-2 {
  width: 50%;
  position: relative;
  display: block;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.affi-img-1 {
  background-image: url(../img/aff2.jpg);
}
.affi-img-2 {
  background-image: url(../img/affir.card.jpg);
}

.affi-headline {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-grey);
  margin-bottom: 2rem;
}

.affi-sub {
  font-size: 2rem;
  font-weight: 700;
}

.about {
  padding: 0;
  margin: 5rem 25rem;
  overflow: hidden;
  border: black solid 0.01rem;

  @media (max-width: 1024px) {
    margin: 0 8rem;
  }

  @media (max-width: 900px) {
    margin: 0 4rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    margin: 5rem 2rem;
  }

  @media (max-width: 480px) {
    margin: 2rem;
  }
}

.about-card {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 900px) {
    display: flex;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.about-name {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: white;
}

.about-title {
  font-size: 1.4rem;
  color: whitesmoke;
  font-weight: 200;
}

.about-text {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2rem;
}

.about-content {
  padding: 2rem;
  width: 100%;
  @media (max-width: 900px) {
    width: 100%;
  }
}

#read-more-btn {
  font-size: 12px;
  font-weight: 500;
  border: solid 0.01rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0.5rem 0;
}

.more {
  font-size: 1.4rem;
}

.at {
  font-weight: 600;
}

.more-text {
  display: none;
}
.show-more {
  display: inline;
}

.uil-angle-up {
  transform: rotate(180deg);
}

.about-img {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/tina-22.jpg);
  background-repeat: no-repeat;
  background-position-y: -3rem;
  background-size: cover;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 480px) {
    height: 60rem;
  }
}

.about-info {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: black;

  @media (max-width: 900px) {
    padding: 1rem 1rem;
  }
}

.link-headline {
  width: fit-content;
  display: flex;
  padding: 0.3rem 1rem;
  border: white solid 0.02rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
  align-items: center;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 1px #493e3b6b;
}

i {
  font-size: 2.5rem;
}

.sponsor-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sponsor-icon {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  object-position: center;
  margin: 0.5rem;

  @media (max-width: 4768px) {
    width: 10rem;
    height: 10rem;
  }

  @media (max-width: 480px) {
    width: 7rem;
    height: 7rem;
  }
}
