nav {
  background-color: white;
  width: 100%;
  position: fixed;
  padding: 1.5rem 20rem;
  top: 0;
  z-index: 9999;

  // @media (max-width: 1024px) {
  //   padding: 1.5rem 10rem;
  // }

  @media (max-width: 900px) {
    padding: 1.5rem 4rem;
  }

  @media (max-width: 600px) {
    padding: 1.5rem 2rem;
  }
}

.logo {
  height: 2rem;
  width: 20rem;

  @media (max-width: 768px) {
    width: 20rem;
  }
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  font-size: 16px;
  color: #84716b;
  cursor: pointer;
}
