// .testicon {
//   @media (max-width: 768px) {
//     margin: 0 15rem;
//   }
//   @media (max-width: 480px) {
//     margin: 0 1rem;
//   }
// }

.swiper {
  width: 100%;
  height: fit-content;
  margin-bottom: 5rem;
  background-image: url(../img/1200px-Quotation_Marks.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 5rem 5rem;
  }

  @media (max-width: 480px) {
    height: 43vh;
  }
}

.testicon {
  margin: 10rem 35rem;
  text-align: center;

  @media (max-width: 1024px) {
    margin: 10rem 20rem;
  }

  @media (max-width: 900px) {
    margin: 8rem 15rem;
  }
  @media (max-width: 768px) {
    margin: 0 10rem;
  }

  @media (max-width: 600px) {
    margin: 0 5rem;
  }

  @media (max-width: 480px) {
    margin: 0rem;
  }
}

.testi-content {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 0 5rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.testi-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #84716b;
  padding: 1rem;
  border-radius: 1rem;
}
