h1 {
  color: var(--dark-grey);
  font-size: 5rem;

  @media (max-width: 768px) {
    text-align: center;
  }
}

h2 {
  color: var(--footer);
  font-size: 55px;
  font-weight: 400;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 3rem;
  }
}

a {
  color: var(--dark-grey);
}

// h3 {
//   font-size: 2.5rem;
// }

h4 {
  // font-size: 2rem;
  // text-align: center;
  // color: #ebe2d3;
  // color: white;
  // font-weight: 600;
}

// h5 {
//   color: var(--dark-grey);
//   font-size: 3rem;
//   font-weight: 900;
//   text-align: center;
// }

// em {
//   text-align: left;
//   font-size: 16px;
//   margin-bottom: 1rem;

//   @media (max-width: 768px) {
//     text-align: center;
//   }
// }

// p {
//   font-size: 1.8rem;
//   line-height: initial;
// }

// s {
//   font-size: 14px;
//   text-decoration: underline;
//   cursor: pointer;
//   align-self: center;
// }
