:root {
  --background-color: #f5f2ed;
  --quote: #ee4747;
  --about-section: #ebe2d3;
  --footer: #5f5b55;
  --dark-grey: #313838;
  --icons: #c8b395;
  --green-btn: #219653;
  --blue-btn: #2d9cdb;
  --title: #62441a;

  // =================FONT-SIZE========================
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --regular-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  //================FONT-WEIGHT====================

  --font-medium: 500;
  --font-semi-bold: 600;
}
